global	# 全局配置
  log 127.0.0.1 local0 # 日志文件
  # user haproxy
  # group haproxy
defaults
  log global
  retries 2
  timeout connect 3000
  timeout server 5000
  timeout client 5000
listen mysql-cluster
  bind *:3309	# 监听地址
  mode tcp
  #option mysql-check user haproxy_check  (This is not needed as for Layer 4 balancing)
  option tcp-check
  balance roundrobin
  # The below nodes would be hit on 1:1 ratio. If you want it to be 1:2  just after the line.
  server mysql-master1 10.59.132.63:3307 check	# 代理地址IP1
  server mysql-master2 10.59.132.63:3308 check	# 代理地址IP2
# Enable cluster status
listen mysql-clusterstats	# 管理页面配置
  bind *:8080
  mode http
  stats enable
  stats uri /
  stats realm Strictly\ Private
  stats auth admin:admin
